<style>
    a{
        text-decoration:none;
    }

</style> 
<a asp-area="User"
       asp-controller="QuanLyChuong"
       asp-action="Index"
       asp-route-idbg="@Model">
    <button class="btn-secondary">
        <i class="fas fa-eye"></i>
        </button>
  </a>


