@using System.Security.Claims
@{
var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}
<nav class="sidebar">
  <div class="logo">
    <img src="logo.png" alt="Logo" class="logo-img">
    <h1>E-Learning</h1>
  </div>
  <ul class="nav-links" id="sidebarMenu">
    <!-- Trang chủ -->
    <li>
      <a href="/GiangVien/LopHoc/Index">
        <i class="fas fa-home"></i>
        <span>Trang chủ</span>
      </a>
    </li>
    <!-- Cấp 1: Khoa -->
    <li class="menu-khoa">
      <a href="#" onclick="toggleSubMenu(this)">
        <i class="fas fa-university"></i>
        <span>Khoa</span>
        <i class="fas fa-chevron-down submenu-arrow"></i>
      </a>
      <ul class="submenu">
        <!-- Cấp 2: Khoa công nghệ thông tin -->
        <li class="menu-khoa-cntt">
          <a href="#" onclick="toggleSubMenu(this)">
            <i class="fas fa-university"></i>
            <span>Khoa công nghệ thông tin</span>
            <i class="fas fa-chevron-down submenu-arrow"></i>
          </a>
          <ul class="submenu">
            <!-- Cấp 3: Bộ môn -->
            <li class="menu-bomon">
              <a href="#" onclick="toggleSubMenu(this)">
                <i class="fas fa-code"></i>
                <span>Bộ môn Lập trình</span>
                <i class="fas fa-chevron-down submenu-arrow"></i>
              </a>
              <ul class="submenu">
                <li>
                  <a href="#" onclick="showLopHocPhan('LTWEB01')">
                    <i class="fas fa-book"></i>
                    <span>Học phần: Lập trình Web</span>
                  </a>
                </li>
                <li>
                  <a href="#" onclick="showLopHocPhan('LTJAVA01')">
                    <i class="fas fa-book"></i>
                    <span>Học phần: Lập trình Java</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Cấp 2: Khoa Quản trị kinh doanh -->
        <li class="menu-khoa-qtkd">
          <a href="#" onclick="toggleSubMenu(this)">
            <i class="fas fa-university"></i>
            <span>Khoa Quản trị kinh doanh</span>
            <i class="fas fa-chevron-down submenu-arrow"></i>
          </a>
          <ul class="submenu">
            <li class="menu-bomon">
              <a href="#" onclick="toggleSubMenu(this)">
                <i class="fas fa-briefcase"></i>
                <span>Quản trị Marketing</span>
                <i class="fas fa-chevron-down submenu-arrow"></i>
              </a>
              <ul class="submenu">
                <li>
                  <a href="#" onclick="selectHocPhan('MKT101')">
                    <i class="fas fa-book"></i>
                    <span>Học phần: Marketing căn bản</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Cấp 2: Khoa Mạng máy tính -->
        <li class="menu-khoa-mmt">
          <a href="#" onclick="toggleSubMenu(this)">
            <i class="fas fa-university"></i>
            <span>Khoa mạng máy tính</span>
            <i class="fas fa-chevron-down submenu-arrow"></i>
          </a>
          <ul class="submenu">
            <li class="menu-bomon">
              <a href="#" onclick="toggleSubMenu(this)">
                <i class="fas fa-briefcase"></i>
                <span>Quản lý mạng</span>
                <i class="fas fa-chevron-down submenu-arrow"></i>
              </a>
              <ul class="submenu">
                <li>
                  <a href="#" onclick="selectHocPhan('MKT101')">
                    <i class="fas fa-book"></i>
                    <span>Học phần: cài win</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    @if (userRole == "Giangvien")
    {
    <li class="active">
      <a href="/GiangVien/QuanLyBaiGiang/Index">
        <i class="fas fa-book"></i>
        <span>Quản lý bài giảng</span>
      </a>
    </li>
    <li>
      <a href="/GiangVien/QuanLyChuong/Index">
        <i class="fas fa-book"></i>
        <span>Quản lý chương</span>
      </a>
    </li>
    <li>
      <a href="/GiangVien/QuanLyBai/Index">
        <i class="fas fa-book"></i>
        <span>Quản lý bài</span>
      </a>
    </li>
    }
  </ul>
</nav>